<p>Cost of Living Numerical Rating: {{costOfLiving}}</p>
<p>Cost of Living User Review: {{costOfLivingRev}}</p>
<p>Night Life Numerical Rating: {{nightLife}}</p>
<p>Night Life User Review: {{nightLifeRev}}</p>
<p>LGBT Friendly Numerical Rating: {{lgbtFriendly}}</p>
<p>LGBT Friendly User Review: {{lgbtFriendlyRev}}</p>
<p>Crime Numerical Rating: {{crimeScore}}</p>
<p>Crime User Review: {{crimeScoreRev}}</p>


