<h1>Your Selected School, {{university}} ,is located in {{city}}</h1>

<p>Cost of Living Numerical Rating: {{costOfLiving}}</p>

<p>Night Life Numerical Rating: {{nightLife}}</p>

<p>LGBT Friendly Numerical Rating: {{lgbtFriendly}}</p>

<p>Crime Numerical Rating: {{crimeScore}}</p>

<p>User Comment: {{comment}}</p>


<a href="/forum" class="button">Leave Your Own Review</a>

