<h1>Reviews for the university's city</h1>
<ul>{{#each qols}}
  	<li>
  	  <p><span class="label">Cost of Living Score:</span> {{this.costOfLiving}}</p>
      <p><span class="label">Nightlife Score:</span> {{this.nightLife}}</p>
      <p><span class="label">LGBT Friendliness Score:</span> {{this.lgbtFriendly}}</p>
      <p><span class="label">Crime/Safety Score:</span> {{this.crimeScore}}</p>
      <p><span class="label">User comment:</span> {{this.comment}}</p>
      <br>
  	</li>
  {{/each}}
</ul>

<a href="/forum" class="button">Leave Your Own Review</a>

