<h1>Results for your university's city</h1>
{{#each qolArray}}
<p>Cost of Living Numerical Rating: {{costOfLiving}}</p>

<p>Night Life Numerical Rating: {{nightLife}}</p>

<p>LGBT Friendly Numerical Rating: {{lgbtFriendly}}</p>

<p>Crime Numerical Rating: {{crimeScore}}</p>

<p>User Comment: {{comment}}</p>
{{/each}}

<a href="/forum" class="button">Leave Your Own Review</a>
<button class=newSearch>New Search</button>

